# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/truthordare?schema=public"

# PostgreSQL Container configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=truthordare

# Application configuration
APP_PORT=3000

# Better-Auth Configuration
BETTER_AUTH_SECRET="your-super-secret-key-at-least-32-chars-long"
BETTER_AUTH_URL="http://localhost:3000"
